/Training/Nakamoto/Sample/Project/Debug
/Training/Nakamoto/Sample/Project/.vs
/Training/Nakamoto/Sample/Project/GameProject/*.user
/Training/Nakamoto/Sample/Game/*.exp
/Training/Nakamoto/Sample/Game/*.lib
/Training/Nakamoto/Sample/Game/*.pdb
/Training/Yosihara/Sample/Sample/Project/.vs
/Training/Yosihara/Sample/Sample/Project/Debug
/Training/Yosihara/Sample/Sample/Project/GameProject/*.user
/Training/Yosihara/Sample/Sample/Game/GameProject.lib
/Training/Yosihara/Sample/Sample/Game/GameProject.pdb
/Training/Yosihara/Sample/Sample/Game/GameProject.exp
/GameCamp2024/GameProgramming/*.user
/Yoshihara/GameCamp2024/.vs
/Yoshihara/GameCamp2024/Debug
/Yoshihara/GameCamp2024/GameProgramming/*.user
